<% include ./partials/header %>

<div class='container'>
    <div class='table-responsive'>
        <table class='table table-bordered table-hover'>
            <tr class='active'>
                <td>Brand</td>
                <td>Model</td>
                <td>Dealer Price</td>
                <td>Sale Price</td>
                <td>Profit</td>
                <td>Salesman</td>
            </tr>
            <% result.forEach((res) => { %>
               <tr class='active'>
                   <td><%= res.brand %></td>
                   <td><%= res.model %></td>
                   <td><%= res.dealer_price %></td>
                   <td><%= res.sale_price %></td>
                   <td><%= res.sale_price - res.dealer_price %></td>
                   <td><%= res.first_name %></td>
               </tr> 
            <% }); %>
        </table>
    </div>
</div>


</body>

<% include ./partials/footer %>